CompileFlags:
  Add:
    - "--target=arm-none-eabi"
    - "-std=gnu11"
    - "-isystem/usr/lib/arm-none-eabi/include"
    - "-isystem/usr/lib/gcc/arm-none-eabi/12.2.1/include"
    - "-isystem/usr/lib/gcc/arm-none-eabi/12.2.1/include-fixed"
    - "-ICore/Inc"
    - "-IDrivers/STM32H7xx_HAL_Driver/Inc"
    - "-IDrivers/STM32H7xx_HAL_Driver/Inc/Legacy"
    - "-IDrivers/CMSIS/Device/ST/STM32H7xx/Include"
    - "-IDrivers/CMSIS/Include"
    - "-IMiddlewares/Third_Party/FreeRTOS/Source/include"
    - "-IMiddlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2"
    - "-IMiddlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F"
    - "-DSTM32H753xx"
    - "-DUSE_HAL_DRIVER"
    - "-DUSE_PWR_LDO_SUPPLY"

---
If:
  PathMatch: .*\.inc

CompileFlags:
  Add: [-xc-header]
